@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}
body {
  background: #202020;
  font-size: 16px;
  color: #fff;
}
button {
  background-color: #c9475d;
  border: none;
  outline: none;
  color: white;
  padding: 4px 5px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  background-color: #b44456a3;
}
